@page "/doctorvisitlist"
@inject IController controller
@inject IModel model
@using ZsutPwPatterns.Application.Model.Data
@using System.Text
@using System.Linq
<h5>Doctor Calendar</h5>
<style>
    body {
        background-color: lightsteelblue;
    }
</style>



<RadzenTextBox Name="ShowDoctorsVisits" @bind-Value=@model.SearchVisitDoctorId Style="width: 160px" />

<RadzenButton Icon="search" Text="Search" Click=@controller.ShowVisitListAsync ButtonStyle="ButtonStyle.Secondary " Style="width: 160px" />

<h5 style="margin-top: 16px">Doctor Visits:</h5>

<RadzenListBox Name="selectionList" Data=@model.VisitList TValue="VisitData" Style="width: 324px; height: 240px">
    <Template Context="VisitData">
        Doctor @VisitData.doctorName @VisitData.doctorSurname have visit at room @VisitData.roomNumber, date @VisitData.visitDate, patient @VisitData.patientName @VisitData.patientSurname
    </Template>
</RadzenListBox>







@code {
    private IController controller_ = ControllerFactory.GetController(new EventDispatcher());

    protected override async Task OnInitializedAsync()
    {
        IModel model1 = controller_.Model;

        IModel model2 = controller.Model;

        IModel model3 = model;
    }
}